body {
    padding: 0;
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: url(../images/signin.jpeg);
    /* background-image: url(../images/signup.jpg) */
    background-image: blur;
}

.content {
    padding: 20px;
    max-width: 660px;
    margin: 0 auto;
    margin-top:20px;
}

h1 {
    color: #cccccc;
    font-size: 60px;
    height: 60%;
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin-bottom: 10px;
}

label {
    color: #fdbc00;
    margin-top: 5px;
    font-size: 19px;
    text-align: left;
}

label {
    color: #fdbc00;
    margin-top: 5px;
    font-size: 19px;
    text-align: left;
    /* display: none; */
}

p {
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}

a {
    font-family: 'Abril Fatface', cursive;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
    color: #FFC4FF;
    margin: 10px;
}

a:hover {
    color: #CCCCCC;
}

input {
    font-size: 16px;
    text-align: left;
    width: 100%;
    position: relative;
    color: #808080;
}

input {
    font-size: 16px;
    text-align: left;
    width: 100%;
    position: relative;
    padding: 5PX;
    /* color: #808080; */
    /* color:#ffffff; */
    /* color: #fdbc00; */
    color:#ffffff;
    background-color: transparent;
    border: solid 1px  #808080;
    border: solid 1px  #A88484;
    border: solid 1px  #696f0b;
}

.col {
    margin-top: 15px;
}

.buttonRow{
    margin-top:30px;
}