
/* Home page */
body {
    font-family: 'Satisfy', cursive;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: no-repeat center center fixed;
    background-size: cover;      
}

 #appName {
    color: rgb(255,167,10);
 }

 #fridge {
    filter: brightness(4000%);
    filter: contrast(3000%);
    filter: saturate(500);
     
    }
 
 #tagLine {
    color: rgb(13,199,235);
 }