
/* Home page */
body {
    font-family: 'Satisfy', cursive;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: no-repeat center center fixed;
    background-size: cover;      
}

 #appName {
    color: rgb(255,167,10);
    font-size: 60px;
 }

#fridgeLink:hover {
   text-decoration: none;
}

 #tagLine {
    color: rgb(13,199,235);
 }