
body {
    font-family: 'Satisfy', cursive;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: no-repeat center center fixed;
    background-size: cover;      
}

 #appName {
    color: rgb(255,167,10);
 }

 #fridge {
     -webkit-filter: contrast(180%);
     filter: contrast(3000%);
     -webkit-filter: saturate(40); 
     filter: saturate(40);
     
    }
 

 #tagLine {
    color: rgb(13,199,235);
 }